body {
	font-family: Verdana;
}
#container {
	width: 900px;
	height: 100%;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}
input[type=text] {
	font-size: 1em;
	width: 500px;
	height: 10px;
	padding: 1%;
	margin: 10px;
}
button {
	font-size: 1.1em;
  	border-radius: 5px;
  	width: 100px;
  	height: 30px;
  	margin-left: 100px;
}
label {
	font-size: 24px;
	display: block;
}
#profile-container {
	width: 48%;
	height: 600px;
	border: 1px solid black;
	margin: 10px 10px 0 0;
	float: left;
}
#profile-image {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	margin: 10px;
}
ul {
	height: 70%;
	list-style: none;
	margin: 0; 
	padding: 0;
}
ul li {
	height: 20%;
	border: 1px solid black;
}
ul li div {
	font-size: 18pt;
}
#repo-container {
	width: 48%;
	height: 600px;
	border: 1px solid black;
	margin: 10px 0 0 10px;
	float: right;
}
.repo {
	font-style: italic;
}
